{% extends "base.html" %} 
{% load static %} 

{% block page_header %} 
    <div class="containter header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %} 
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 text-center my-auto ">
                <div>
                    <h4 class="my-5">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid homepage-content">
        <div class="container">
            <div class="row text-center sub-headers">
                <div class="col">
                    <h1 class="text-black fw-bold mt-5">Our Picks</h1>
                    <hr>
                </div>
            </div>
            <div class="row align-items-start gx-5 shopping-row mt-5">
                <div class="col-sm-12 col-md-4 col-lg-3 mt-3">
                    <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://cloud-culture.s3.eu-west-2.amazonaws.com/media/Blackcurrant-Nic-Salt-by-Fruitz_600x.jpg" class="d-block w-100" alt="FirstItem">
                          </div>
                          <div class="carousel-item">
                            <img src="https://cloud-culture.s3.eu-west-2.amazonaws.com/media/Mango-_-Passion-Fruit-5050-E-Liquid-by-Just-Juice_600x.jpg" class="d-block w-100" alt="SecondItem">
                          </div>
                          <div class="carousel-item">
                            <img src="https://cloud-culture.s3.eu-west-2.amazonaws.com/media/Skully-Gum-Shortfill-E-Liquid-by-Bones_600x.jpg" class="d-block w-100" alt="ThirdItem">
                          </div>
                        </div>
                    </div>
                    <div class="shopping-panels bg-grey p-2">
                        <h4 class="text-black fw-bold">Shop Juice</h4>
                        <h6 class="text-black">What flavour are you?</h5>
                        <a href="{% url 'products' %}?category=bannana,tropical,berry,apple,strawberry" class="shop-panel-button btn btn-sm rounded-0 text-uppercase py-3">Shop Now</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 mt-3">
                    <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://cloud-culture.s3.eu-west-2.amazonaws.com/media/Glint-Vape-Mod-By-Aspire-Stainless-Steel_600x.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://s3.console.aws.amazon.com/s3/object/cloud-culture?region=eu-west-2&prefix=media/Grus-Vape-Mod-By-Lost-Vape-SS-Zebra-Wood_600x.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://cloud-culture.s3.eu-west-2.amazonaws.com/media/Obelisk-Mod-By-Geek-Vape_600x.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                    </div>
                    <div class="shopping-panels bg-grey p-2">
                        <h4 class="text-black fw-bold">Shop Mods</h4>
                        <h6 class="text-black">Old faithful</h5>
                        <a href="{% url 'products' %}?category=mods" class="shop-panel-button btn btn-sm rounded-0 text-uppercase py-3">Shop Now</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-3 mt-3">
                    <div id="carouselSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://cloud-culture.s3.eu-west-2.amazonaws.com/media/Elf-Bar-600-Mango_600x.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://cloud-culture.s3.eu-west-2.amazonaws.com/media/Nasty-Fix-Mango-Cushman_600x.jpg" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img src="https://cloud-culture.s3.eu-west-2.amazonaws.com/media/dinner-lady-v800-disposable-pen-lemon-tart_600x.jpg" class="d-block w-100" alt="...">
                          </div>
                        </div>
                    </div>
                    <div class="shopping-panels bg-grey p-2">
                        <h4 class="text-black fw-bold">Shop Disposables</h4>
                        <h6 class="text-black">A new way to vape</h5>
                        <a href="{% url 'products' %}?category=disposable" class="shop-panel-button btn btn-sm rounded-0 text-uppercase py-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}