<script type="text/javascript">
    function handleEndableDisable(itemId) {
        var currentValue = parseInt($('#id_qty_${itemId}').val());
        var minusDisabled = currentValue <2;
        var plusDisabled = currentValue > 98;
        $('#decrement-qty_${itemId}').prop('disabled', minusDisabled)
        $('#increment-qty_${itemId}').prop('disabled', plusDisabled)
    }

    var allQty = $('.qty_input');
    for(var i = 0; i < allQty.length; i++){
        var itemId = $(allQty[i]).data('item_id');
        handleEndableDisable(itemId);
    }

    $('.qty_input').change(fucntion () {
        var itemId = $(this).data('item_id');
        handleEndableDisable(itemId);
    })

    // Increment quantity
    $('increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue +1);
        var itemId = $(this).data('item_id');
        handleEndableDisable(itemId);
    });

    // Decrement quantity
    $('decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue -1);
        var itemId = $(this).data('item_id');
        handleEndableDisable(itemId);
    });
</script>