.blog-hero-image {
    width: 100%;
    object-fit: cover;
}

.blog-hero-overlay {
    background: rgba(0,0,0,.5);
    height: 100%;
    width: 100%;
    display: flex;
}

.blog-hero-container {
    height: 600px;
}