<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="vape-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vapes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vape-link">
                <a href="{% url 'products' %}?category=mods" class="dropdown-item">Mods</a>
                <a href="{% url 'products' %}?category=disposable" class="dropdown-item">Disposable</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=mods,disposable,accessories" class="dropdown-item">All Vapes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="vape-juice-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Juice
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vape-juice-link">
                <a href="{% url 'products' %}?category=bannana" class="dropdown-item">Bannana</a>
                <a href="{% url 'products' %}?category=tropical" class="dropdown-item">Tropical</a>
                <a href="{% url 'products' %}?category=berry" class="dropdown-item">Berry</a>
                <a href="{% url 'products' %}?category=apple" class="dropdown-item">Apple</a> 
                <a href="{% url 'products' %}?category=strawberry" class="dropdown-item">Strawberry</a>     
                <a href="{% url 'products' %}?category=bannana,tropical,berry,apple,strawberry" class="dropdown-item">All Liquids</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a> 
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                The blog
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'blog' %}" class="dropdown-item">Our Posts</a> 
            </div>
        </li>
    </ul>
</div>