<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="vape-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vapes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vape-link">
                <a href="" class="dropdown-item">Mods</a>
                <a href="" class="dropdown-item">Disposable</a>
                <a href="" class="dropdown-item">E-Cigarettes</a>
                <a href="" class="dropdown-item">All Vapes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="e-liquid-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                E-Liquid
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="e-liquid-link">
                <a href="" class="dropdown-item">Shop By Flavour</a>
                <a href="" class="dropdown-item">Shop By Type</a>
                <a href="" class="dropdown-item">All Homeware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>