<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="vape-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Vapes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vape-link">
                <a href="{% url 'products' %}?category=mods" class="dropdown-item">Mods</a>
                <a href="{% url 'products' %}?category=disposable" class="dropdown-item">Disposable</a>
                <a href="" class="dropdown-item">Accessories</a> <!-- Need to work out why the Accessories category isn't pulling products-->
                <a href="{% url 'products' %}?category=mods,disposable" class="dropdown-item">All Vapes</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black sub-menu" href="#" id="vape-juice-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Juice
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="vape-juice-link">
                <a href="" class="dropdown-item">Shop By Flavour</a> <!-- Need to revaluate the categories for Liquid into flavours rather than vape_juice -->
                <a href="" class="dropdown-item">All Liquids</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black" href="#" id="specials-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a> <!-- Need to work out why New Arrival products aren't working -->
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>