{% extends "base.html" %} 
{% load static %} 

{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}


{% block page_header %} 
    <div class="containter header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center page-title">
                <h2 class="logo-font">Our Blog</h2>
                <hr>
            </div>
        </div>
        <table class="table">
            <tbody>
            {% for blog in blog %}
                {% if blog.title %}
                <tr>
                    <th scope="row">
                        <h3 class="mb-0">{{ blog.title }}</h3>
                    </th>
                </tr>
                {% endif %}
                {% if blog.image %}
                <tr>
                    <th scope="row">
                        <a href="">
                            <img class="blog-hero-image img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                        </a>
                    </th>
                {% else %}
                    <th scope="row">
                        <a href="">
                            <img class="blog-hero-image img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                        </a>
                    </th>
                </tr>
                {% endif %}
                {% if blog.body %} 
                <tr>
                    <th scope="row">
                        <h3 class="mb-0">{{ blog.body }}</h3>
                    </th>
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}